@charset "UTF-8";

/*背景色 内边距 外边距 边框*/
body {
    background-color: darkkhaki;
    padding:15px 15px 15px 15px;
    margin: 5px;
    border: 2px lightblue dashed;
}


/*大分类标题*/
h1.HeaderTitle {
    color: red;
    font-family: "Al Bayan";
    font-size:xx-large;
    text-decoration: underline;
    text-align: center;
}


pre.MyPre{
    color: darkorchid;
    font-size: small;
}

pre.Note{
    color: black;
    font-size: small;
}