<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-echoPlugin" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>EchoPlugin</name>
  <AUTHOR>HanyFeng</AUTHOR>
  <DESCRIPTION>HanyEchoPlugin</DESCRIPTION>
  
  <js-module name="Echo" src="www/Echo.js">
    <clobbers target="Echo" />
  </js-module>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Echo">
        <param name="ios-package" value="Echo" />
      </feature>
    </config-file>
    
    <source-file src="src/ios/Echo.m" />
    <header-file src="src/ios/Echo.h" />
    
  </platform>
  
</plugin>


