<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>model</key>
			<string>X</string>
			<key>color</key>
			<string>红色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>X</string>
			<key>color</key>
			<string>黄色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>X</string>
			<key>color</key>
			<string>白色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>model</key>
			<string>S</string>
			<key>color</key>
			<string>红色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>S</string>
			<key>color</key>
			<string>黄色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>S</string>
			<key>color</key>
			<string>白色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>model</key>
			<string>L</string>
			<key>color</key>
			<string>红色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>L</string>
			<key>color</key>
			<string>黄色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>model</key>
			<string>L</string>
			<key>color</key>
			<string>白色</string>
			<key>count</key>
			<integer>10</integer>
		</dict>
	</array>
</array>
</plist>
