



/*------------------------------------3. CSS 定位------------------------------------*/




/*
display属性

block 变成块级属性
inline 变成行内属性
*/
a {display: inline}




/*
position属性

static 默认 忽略四边距离限制
inherit 规定应该从父元素继承 position 属性的值



z-index属性
z-index:设置对方次序 默认的 z-index 是 0。Z-index -1 拥有更低的优先级

*/
a {
    position: fixed;
    top: 20px;
    z-index: -1;
}




/*
浮动float clear 详看网上资料和例子

float例子:
html-html-块元素div 内联元素span 类 布局
html-html5-拖放
css-css-导航栏
css-css-图库
css-css3-css3用户界面

clear例子:
html-html-块元素div 内联元素span 类 布局
html-html5-拖放
css-css-图库
css-css3-css3用户界面
*/
