

/*------------------------------------2. CSS 框模型------------------------------------*/

@charset "UTF-8";


/*内边距padding 外边距margin
上右下左
*/
h1 {padding: 10px;}
h1 {padding: 10px 0.25em 2ex 20%;}
h1 {
    padding-top: 10px;
    padding-right: 0.25em;
    padding-bottom: 2ex;
    padding-left: 20%;
    margin-bottom: 10px;
    margin: auto;
}




/*边框
上右下左 颜色同理
默认为none
*/
p {border-style: solid solid solid none;}
p {border-style: solid; border-left-style: none;}
p {border-width: 10px 10px 10px 10px}






/*------------------------------------3. CSS 定位------------------------------------*/




/*display属性
block 变成块级属性
inline 变成行内属性
*/
a {display: inline}




/*
position属性
static 默认 忽略四边距离限制
inherit 规定应该从父元素继承 position 属性的值

relative 生成相对定位的元素，相对于其"正常位置"(即默认位置)进行定位 受四边距离限制

absolute 生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位 受四边距离限制
fixed 生成绝对定位的元素，相对于浏览器窗口进行定位 受四边距离限制 类似于absolute 不过其包含块是视窗本身


z-index属性
z-index:设置对方次序 默认的 z-index 是 0。Z-index -1 拥有更低的优先级

相对定位 绝对定位
绝对定位 相对于父元素或者视窗 会被从正常流中删除，并且能够交叠元素
相对定位 相对于自身原始位置
*/
a {
    position: fixed;
    top: 20px;
    z-index: -1;
}




/*浮动float clear 详看网上资料和例子*/