<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-helloPlugin" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>HelloPlugin</name>
  <AUTHOR>HanyFeng</AUTHOR>
  <DESCRIPTION>HanyHelloPlugin</DESCRIPTION>
  <js-module name="HelloPlugin" src="www/HelloPlugin.js">
    <clobbers target="cordova.plugins.HelloPlugin" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="HelloPlugin">
        <param name="ios-package" value="HelloPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/HelloPlugin.m" />
  </platform>
</plugin>