<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>函数</string>
		<key>className</key>
		<string>MD_CPPFunction_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>基本</string>
		<key>className</key>
		<string>MD_CPPBase_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>结构体、联合、枚举</string>
		<key>className</key>
		<string>MD_StructUnionEnum_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>FreeTest</string>
		<key>className</key>
		<string>MD_FreeTest_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>命名空间</string>
		<key>className</key>
		<string>MD_NameSpace_VC</string>
		<key>sub</key>
		<array/>
	</dict>
</array>
</plist>
