<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>C</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>关键字</string>
				<key>className</key>
				<string>MD_C_Keyword_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>结构体、联合、枚举</string>
				<key>className</key>
				<string>MD_C_Type_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>指针与字符串</string>
				<key>className</key>
				<string>MD_C_Point_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>函数</string>
				<key>className</key>
				<string>MD_C_Function_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>数组</string>
				<key>className</key>
				<string>MD_C_Array_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>转义字符、输入输出、运算符</string>
				<key>className</key>
				<string>MD_C1_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>基本变量类型及取值范围</string>
				<key>className</key>
				<string>MD_C_ValueSize_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>char与ascii、进制转换</string>
				<key>className</key>
				<string>MDC_Char_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>宏定义</string>
				<key>className</key>
				<string>MDCDefineViewController</string>
				<key>sub</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
