/*------------------------------------CSS 常用元素样式------------------------------------*/


@charset "UTF-8";

/*背景
所有背景属性不能继承
background-repeat:平铺,默认左上开始
background-position:位置关键字可以按任何顺序出现，只要保证不超过两个关键字 - 一个对应水平方向，另一个对应垂直方向,如果只出现一个关键字，则认为另一个关键字是 center;可以用百分比,跟关键字类似
background-attachment:是否滚动
*/
body
{
    background-image:url('/i/eg_bg_03.gif');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-color: gray;
    padding: 20px;
}








/*
文本
text-indent:缩进 负值会使头部超出边缘,可以加上内边距;可以用百分比,数值是基于父元素的;可以继承
word-spacing:单词之间的间距
letter-spacing:字母之间的间距
text-transform:大小写转换
text-decoration:下划线上划线贯穿线,可同时设置
white-space:对源文档中的空格、换行和 tab 字符的处理
direction:文字方向
*/

p {
    text-indent: -5em; padding-left: 5em;
    text-align: justify;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
    white-space: normal;
    direction:rtl;
}







/*字体
    通用字体系列 - 拥有相似外观的字体系统组合（比如 "Serif" 或 "Monospace"）
    特定字体系列 - 具体的字体系列（比如 "Times" 或 "Courier"）

    除了各种特定的字体系列外，CSS 定义了 5 种通用字体系列：
    Serif 字体
    Sans-serif 字体
    Monospace 字体
    Cursive 字体
    Fantasy 字体

font-family:字体
font-style:斜体还是倾斜 通常情况下，italic 和 oblique 文本在 web 浏览器中看上去完全一样
font-variant:可以设定小型大写字母。小型大写字母不是一般的大写字母，也不是小写字母，这种字母采用不同大小的大写字母。
font-weight:粗细,100 对应最细的字体变形，900 对应最粗的字体变形。数字 400 等价于 normal，而 700 等价于 bold

font-size:大小;
1em等于当前的字体尺寸。如果一个元素的 font-size 为 16 像素，那么对于该元素，1em 就等于 16 像素。
在设置字体大小时，em 的值会相对于父元素的字体大小改变。
浏览器中默认的文本大小是 16 像素。因此 1em 的默认尺寸是 16 像素。
在所有浏览器中均有效的方案是为 body 元素（父元素）以百分比设置默认的 font-size 值
*/
a{
    font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
    font-style: italic;
    font-variant:small-caps;
    font-weight: 300;
    font-size: 1em;
}











/*链接
当为链接的不同状态设置样式时，请按照以下次序规则：
    a:hover 必须位于 a:link 和 a:visited 之后
    a:active 必须位于 a:hover 之后

text-decoration:none 去掉样式 -> 去掉下划线
*/
a:link {color:#FF0000;text-decoration:none;} /* 未被访问的链接 */
a:visited {color:#00FF00;text-decoration:none;}	/* 已被访问的链接 */
a:hover {color:#FF00FF;text-decoration:none;}	/* 鼠标指针移动到链接上 */
a:active {color:#0000FF;text-decoration:none;}	/* 正在被点击的链接 */







/*列表
list-style-type:常规标志类型
list-style-image:用图像做标志
list-style:整合各种属性list-style 的值可以按任何顺序列出，而且这些值都可以忽略。只要提供了一个值，其它的就会填入其默认值
list-style-position:标志的位置
*/
ul {list-style-type : square}
li {list-style-image : url(xxx.gif)}
li {list-style-position: inside}
li {list-style : url(example.gif) square inside}






/*表格
border 边框
border-collapse 都设置边框的话,是否折叠边框
vertical-align 垂直对齐
padding 内边距
*/
table,tr,th,td{
    border: 1px solid blue;
    border-collapse:collapse;
    vertical-align: middle;
    padding: 15px;
    width: 100%;
    text-align: right;
    height: 50px;
}


/*轮廓*/
p{
    outline: red solid thin;
    outline-style:solid;
    outline-width:thin;
    outline-color: red;
}