<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Network</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>UIWebView</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>useragent</string>
						<key>className</key>
						<string>MDWebviewUserAgentViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>构建Hybrid应用</string>
						<key>className</key>
						<string>MDHybridViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>三种请求方式、常用方法及协议</string>
						<key>className</key>
						<string>MDWVViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSURLCache</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>离线缓存</string>
						<key>className</key>
						<string>MD_UIWebViewCache_VC</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>FreeTest</string>
		<key>className</key>
		<string>MD_FreeTest_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>AVFoundation</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>PhotoLibrary</string>
				<key>className</key>
				<string>MD_PhotoLibrary_VC</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>camera</string>
				<key>className</key>
				<string>MD_AVCamera_VC</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>qrcode</string>
				<key>className</key>
				<string>MD_AVQRCode_VC</string>
				<key>sub</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>自定义控件</string>
		<key>className</key>
		<string>MD_UICustom_VC</string>
		<key>sub</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreGraphics</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>CGColorSpace</string>
				<key>className</key>
				<string>MD_CGColorSpace_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>CGContext</string>
				<key>className</key>
				<string>MD_CGContext_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>CGImage</string>
				<key>className</key>
				<string>MD_CGimage_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>CGAffineTransform</string>
				<key>className</key>
				<string>MD_CGAffineTransform_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>UIKit</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>UICollectionView</string>
				<key>className</key>
				<string>MD_CollectionView_VC</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>Animation</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>手势/触控</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>触控</string>
						<key>className</key>
						<string></string>
						<key>sub</key>
						<array>
							<dict>
								<key>desc</key>
								<string>触控基础使用</string>
								<key>className</key>
								<string>MD_Touch_VC</string>
								<key>sub</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>desc</key>
						<string>手势</string>
						<key>className</key>
						<string></string>
						<key>sub</key>
						<array>
							<dict>
								<key>desc</key>
								<string>手势基础使用</string>
								<key>className</key>
								<string>MD_GestureRecognizer_VC</string>
								<key>sub</key>
								<array/>
							</dict>
							<dict>
								<key>desc</key>
								<string>手势练习</string>
								<key>className</key>
								<string>MD_GestureRecognizerTest_VC</string>
								<key>sub</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UISlider</string>
				<key>className</key>
				<string>MD_UISlider_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIGraphics</string>
				<key>className</key>
				<string>MD_UIGraphics_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIBezierPath</string>
				<key>className</key>
				<string>MD_UIBezierPath_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIColor</string>
				<key>className</key>
				<string>MD_UIColor_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIView</string>
				<key>className</key>
				<string>MD_OC_UIView_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIImagePickerController</string>
				<key>className</key>
				<string>MD_UIIPC_ViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UISearchBar</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>常用</string>
						<key>className</key>
						<string>MDSearchBarViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIAlertView,UIActionSheet</string>
				<key>className</key>
				<string>MDAVASViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UITabBarController</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>常用</string>
						<key>className</key>
						<string>MDTabBarVCNormalViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UINavigationController</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>跳转</string>
						<key>className</key>
						<string>MDModalViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>常用属性、UIBarButtonItem等</string>
						<key>className</key>
						<string>MDNavi1ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIPageViewController</string>
				<key>className</key>
				<string>MDPageViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIPageControl</string>
				<key>className</key>
				<string>MDPageControlViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIScrollView</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>contentInset、contentOffset、scrollIndicatorInsets</string>
						<key>className</key>
						<string>MDUIScrollView1ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>单图滚动</string>
						<key>className</key>
						<string>MDUIScrollView2ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>缩放</string>
						<key>className</key>
						<string>MDUIScrollView3ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>缩放、滚动、双击恢复</string>
						<key>className</key>
						<string>MDUIScrollView4ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIImageView</string>
				<key>className</key>
				<string>MDUIImageViewViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIPickerView</string>
				<key>className</key>
				<string>MDPickerViewViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIViewController</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>ChildVC</string>
						<key>className</key>
						<string>MDMainViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIFont</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UIButton</string>
				<key>className</key>
				<string>MDUIButtonViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>UILabel</string>
				<key>className</key>
				<string>MDUILabelViewController</string>
				<key>sub</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Foundation</string>
		<key>className</key>
		<string></string>
		<key>sub</key>
		<array>
			<dict>
				<key>desc</key>
				<string>KVO</string>
				<key>className</key>
				<string>MDKVO_VC</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSEnumerator</string>
				<key>className</key>
				<string>MDNSEnumeratorViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSFileManager&amp;NSFileHandle</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>NSFileManager</string>
						<key>className</key>
						<string>MD_FileManager_VC</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>NSFileHandle</string>
						<key>className</key>
						<string>MD_FileHandle_VC</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSTimer</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>变速动画</string>
						<key>className</key>
						<string>MD_NSTimer_VC3</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>匀速动画</string>
						<key>className</key>
						<string>MD_NSTimer_VC2</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>基本使用</string>
						<key>className</key>
						<string>MD_NSTimer_VC1</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSAttributedString</string>
				<key>className</key>
				<string>MDNSAttributedStringViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSDictionary</string>
				<key>className</key>
				<string>MDDicNormalViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSSet</string>
				<key>className</key>
				<string>MDNSSetNormalViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSArray</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>深拷贝、浅拷贝、排序</string>
						<key>className</key>
						<string>MDNArrayAdvancedViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>常用</string>
						<key>className</key>
						<string>MDNSArrayNormalViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSDate</string>
				<key>className</key>
				<string>MDNSDateViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSValue</string>
				<key>className</key>
				<string>MDNSValueViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSNumber</string>
				<key>className</key>
				<string>MDNSNumberViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSObject</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>判断一个类是否另一个类的子类</string>
						<key>className</key>
						<string>MDObject3ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>加载和初始化、copy方法</string>
						<key>className</key>
						<string>MDObject1ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>方法选择器、协议选择器</string>
						<key>className</key>
						<string>MDObject2ViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSPredicate</string>
				<key>className</key>
				<string>MDPredicateViewController</string>
				<key>sub</key>
				<array/>
			</dict>
			<dict>
				<key>desc</key>
				<string>NSString</string>
				<key>className</key>
				<string></string>
				<key>sub</key>
				<array>
					<dict>
						<key>desc</key>
						<string>常用（创建、对比、转换、截取等）</string>
						<key>className</key>
						<string>MDStringNormalViewController</string>
						<key>sub</key>
						<array/>
					</dict>
					<dict>
						<key>desc</key>
						<string>计算字符串所占空间</string>
						<key>className</key>
						<string>MDCountStringRectangleViewController</string>
						<key>sub</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
