@charset "UTF-8";

/*CSS定位*/




/*display属性
block 变成块级属性
inline 变成行内属性
*/
a {display: inline}




/*position属性 z-index属性 相对定位 绝对定位
static 默认 忽略四边距离限制
inherit 规定应该从父元素继承 position 属性的值
absolute 生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位 受四边距离限制
fixed 生成绝对定位的元素，相对于浏览器窗口进行定位 受四边距离限制 类似于absolute 不过其包含块是视窗本身
relative 生成相对定位的元素，相对于其"正常位置"(即默认位置)进行定位 受四边距离限制
z-index:设置对方次序 默认的 z-index 是 0。Z-index -1 拥有更低的优先级

绝对定位 相对于父元素或者视窗
相对定位 相对于自身原始位置
*/
a {
    position: fixed;
    top: 20px;
    z-index: -1;
}




/*浮动 clear 详看网上资料和例子*/
